:root {
  --progressBar: #54d1db;
}

body {
  background: var(--bodyBg);
}

.spanLikesList:hover {
  text-decoration: underline;
  cursor: pointer;
}

.mySpinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #16d47b;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
  margin: auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.refreshIcon {
  text-align: center;
}

.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}

.results-image {
  object-fit: contain;
}

.ui.icon.input {
  width: inherit; /*for search*/
}

.ui.page.modals.dimmer.transition.visible.active {
  z-index: 1032;
}

@media only screen and (max-width: 767px) {
  .ui.modal .content > .image {
    margin-right: 1em !important;
    margin-bottom: 1em !important;
    padding: 0 !important;
  }

  .ui.form .fields {
    margin-bottom: 1em !important;
    flex-wrap: nowrap !important;
  }
}
